[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=SlimeMold
Exec=/usr/bin/single-instance /opt/SlimeMold/bin/SlimeMold
Icon=/usr/share/icons/hicolor/80x80/apps/SlimeMold80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
